<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNXM5dHfb3poaA6I7HkFHEVMbojurppQs</string>
	<key>GCM_SENDER_ID</key>
	<string>968029650352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reizev.CodeSprint</string>
	<key>PROJECT_ID</key>
	<string>codesprint-8554e</string>
	<key>STORAGE_BUCKET</key>
	<string>codesprint-8554e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968029650352:ios:6e42264776521947d7aa75</string>
</dict>
</plist>